<meta charset="UTF-8">
<title>EJS Is Fun</title>


<link rel="stylesheet" href="styles.css">
<!-- FAVICON -->
<link rel="shortcut icon" href="favicon.png">
<!-- REMIXICONS -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<!-- SWIPPER CSS -->
<link rel="stylesheet" href="">