<header class="header scroll-header" id="header">
  <nav class="nav container">
    <a href="" class="nav__logo"> Shop. </a>
    <div class="nav__menu" id="nav_menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link">
            <i class="ri-home-line"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            <i class="ri-price-tag-3-line"></i>
            <span>New</span>
          </a>
        </li>
        <li class="nav__iitem">
          <a href="/" class="nav__link">
            <i class="ri-compass-line"></i>
            <span>Collection</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/" class="nav__link">
            <i class="ri-t-shirt-2-line"></i>
            <span>Products</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/about" class="nav__link">
            <i class="ri-information-line"></i>
            <span>About</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Theme Change button -->
    <i class="ri-moon-line"></i>
  </nav>
</header>
