<!-- ==================== MAIN ===================-->
<main>
    <!-- ==================== Home ===================-->
    <section class="home" id="home">
        <div class="home__container container grid">
            <div class="home__data">
                <h1 class="home__title">
                    New Clothing <br>
                    Collection
                </h1>
                <p class="home__description">
                    The new Collection of clothing from <br>
                    the best brands this year.
                </p>
                <a href="#new" class="button__link">
                    Explore <i class="ri-arrow-right-line"></i>
                </a>
            </div>
            <div class="home__images">
                <img src="anastacia2.jpg" alt="home image">
                <img src="andrea.jpg" alt="home image">
            </div>
        </div>
    </section>

    <!-- ==================== New ===================-->
    <section class="new section" id="new"></section>
        <h2 class="section__title">
            New Categories
        </h2>
        <div class="new__container container grid">
            <!-- =================== Winter =========================-->
            <article class="new__card">
                <img src="chicos.jpg" alt="" class="new__img">
                <a href="" class="new__link">
                    <div class="new__data">
                        <h2 class="new__tittle">
                            Hoddie
                        </h2>
                        <span > Winter Collection </span>
                    </div>
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
            <!-- =================== Winter =========================-->
            <article class="new__card">
                <img src="china.jpg" alt="" class="new__img">
                <a href="" class="new__link">
                    <div class="new__data">
                        <h2 class="new__tittle">
                            WomenSwear
                        </h2>
                        <span> Women Collection </span>
                    </div>
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
            <!-- =================== Winter =========================-->
            <article class="new__card">
                <img src="ctangana.jpg" alt="" class="new__img">
                <a href="" class="new__link">
                    <div class="new__data">
                        <h2 class="new__tittle">
                            Unisex
                        </h2>
                        <span> Unisex Collection </span>
                    </div>
                    <i class="ri-arrow-right-line"></i>
                </a>
            </article>
        </div>
    <!-- ==================== Collection ===================-->
    <section class="collection section" id="collection">

    </section>

    <!-- ==================== Products ===================-->
    <section class="products section" id="products">

    </section>
</main>